*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; padding: 0; font: inherit; }
img, picture, svg, video { display: block; max-width: 100%; }
ul[role="list"] { list-style: none; }
html:focus-within { scroll-behavior: smooth; }
body { min-height: 100vh; text-rendering: optimizeSpeed; line-height: 1.4; }
a { all: unset; cursor: pointer; color: inherit; outline: none; }
a:not([class]) { text-decoration-skip-ink: auto; }
input, button, textarea, select { font: inherit; }