body {
  font-family: Arial, sans-serif;
}
#bucket-lists {
  display: none;
}
#activityName, #editDescription {
  width: 500px;
}

button {
  margin-left: 10px;
}

table {
  border-collapse: collapse;
}

tr {
  height: 30px;
}

tbody tr:nth-child(odd) {
  background-color: #e9e9e9;
}

tbody tr:nth-child(even) {
  background-color: #d9d9d9;
}

.description {
  width: 300px;
}

.category {
  width: 150px;
}

.btn-icon {
  width: 36px;
}
.line-through {
  text-decoration: line-through;
  opacity: 0.4;
}
button[data-state="inactive"] {
  opacity: 0.4;
}

dialog {
  margin-top: 10%;
  padding-bottom: 3rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.sort {
  font-size: 0.7rem;
  margin: 0;

}